# {{ ansible_managed }}

{% if opflex_plugin_mode == 'unified' %}
[apic_aim_auth]
auth_plugin = v3password
auth_url = {{ keystone_service_adminurl }}
username = admin
password = {{ keystone_auth_admin_password }}
user_domain_name = default
project_domain_name = default
project_name = admin

[ml2_apic_aim]
enable_optimized_dhcp = True
enable_optimized_metadata = True

{% else %}
[DEFAULT]
apic_system_id = {{ opflex_apic_system_id }}

[opflex]
networks = '*'

[ml2_cisco_apic]
apic_hosts = {{ opflex_apic_hosts | join(',') }}
apic_username = {{ opflex_apic_user }}
apic_password = {{ opflex_apic_password }}
apic_use_ssl = {{ opflex_apic_use_ssl | bool }}
apic_name_mapping = use_uuid
apic_sync_interval = 0
apic_agent_report_interval = 30
apic_agent_poll_interval = 2
apic_provision_infra = True
apic_provision_hostlinks = True
enable_aci_routing = True
enable_arp_flooding = False
enable_optimized_dhcp = True
enable_optimized_metadata = True
integrated_topology_service = True

network_constraints_filename = {{ neutron_conf_dir }}/plugins/ml2/cisco_apic_network_constraints.ini

{% endif %}

{% if opflex_plugin_mode == 'unified' %}
[group_policy]
policy_drivers = aim_mapping
extension_drivers = aim_extension,proxy_group
[group_policy_implicit_policy]
default_ip_pool = {{ opflex_default_ip_pool | default('192.168.0.0/16') }}

{% elif opflex_plugin_mode == 'gbp' %}
[group_policy]
policy_drivers = implicit_policy,apic
[group_policy_implicit_policy]
default_ip_pool = {{ opflex_default_ip_pool | default('192.168.0.0/16') }}

{% endif %}
