# {{ ansible_managed }}
[DEFAULT]
apic_system_id = {{ opflex_apic_system_id }}

[apic_vmdom:{{ opflex_apic_vmdom }}]
{% if neutron_vxlan_enabled | bool %}
encap_mode = vxlan
{% else %}
encap_mode = vlan
vlan_ranges = {{ neutron_provider_networks.network_vlan_ranges }}
{% endif %}


[apic]
apic_arp_flooding = False
apic_clear_node_profiles = True
apic_entity_profile =
apic_name_mapping = use_uuid
apic_provision_infra = False
apic_provision_hostlinks = False
enable_aci_routing = True
enable_optimized_dhcp = True
enable_optimized_metadata = True
scope_infra = False
